body *{
    all: unset;
    margin: 0;
}

body,html{
    margin: 0;
    overflow: hidden;
}

body{
    background: gray;
    width: fit-content;
    height: fit-content;
}

main{
    width: fit-content;
    height: fit-content;
    display: block;
}

canvas{
    display: block;
}

#debug-log{
    position: absolute;
    left: 50vw;
    top: 50vh;
    z-index: 100;
    background-color: white;
}